@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Kumbh Sans", sans-serif;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 214, 218, 233;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 214, 218, 233;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.path {
  clip-path: polygon(0 0, 89% 0, 100% 64%, 0 64%);
}

/* Hide the default radio button */
.custom-radio input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 10px;
  height: 10px;
  border: 1px solid #333;
  border-radius: 50%;
  position: relative;
}

.custom-radio input[type="radio"]::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #222222b0; /* Change this color */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the selected radio button */
.custom-radio input[type="radio"]:checked::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #fb5b21; /* Change this color */
  color: #fb5b21;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Style the search input field */
input[type="search"] {
  width: 560px;
  padding: 10px;
  font-size: 16px;
  background-color: transparent; /* Input background color */
  color: white; /* Text color */
}

/* Style the clear (X) button */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 20px;
  width: 40px; /* Background color of the clear button */
  mask-size: cover;
  color: white;
}

/* Style the suggestions dropdown (WebKit browsers only) */
input[type="search"]::-webkit-search-results-decoration {
  background-color: transparent; /* Background color of dropdown */
  color: white; /* Text color of dropdown */
}
input[type="search"]::placeholder {
  color: white;
}


input[type="range"] {
  -webkit-appearance: none; /* Remove default styling in WebKit browsers */
  appearance: none; /* Remove default styling in modern browsers */
  width: 100%; /* Adjust width */
  height: 10px; /* Adjust height of the track */
  background: #ccc; /* Track color */
  border-radius: 4px; /* Round corners */
  outline: none; /* Remove outline */
  color: white;
}

/* Thumb (handle) styling */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default thumb styling */
  appearance: none;
  width: 20px; /* Thumb width */
  height: 20px; /* Thumb height */
  background: white; /* Thumb color */
  border-radius: 100%; /* Make thumb circular */
  cursor: pointer; /* Change cursor to pointer */
  color: #4A9500;
}
input[type="range"]::-moz-range-thumb {
  width: 40px;
  height: 40px;
  background: white; /* Thumb color for Firefox */
  border-radius: 50%;
  cursor: pointer;
  color: whitesmoke;

}
input[type="range"]::-ms-thumb {
  width: 20px;
  height: 20px;
background-color: white;
  border-radius: 50%;
  cursor: pointer;
 
}

.bgtheam {
  filter: blur(0.5px);
  z-index: 10;
}
